.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #198eb9;
  padding: 0.8rem 1.6rem;
  z-index: 2;

  button {
    padding: 0;
    min-width: 2.4rem;
  }
}

.avatar {
  img {
    background-color: #fafafa;
    border-radius: 50%;
  }
}

.title {
  width: 16rem;
}
