@import "./breakpoint";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sawarabi+Gothic&display=swap");
.home {
  width: 100%;
  background-color: #edeeef;
  min-height: 100vh;
}

.status_section {
  padding: 8rem 0 2.4rem 0;
  background-color: #0b324d;
  width: 100%;

  @include tab {
    padding: 10rem 0 4.8rem 0;
  }
}

.title {
  width: 30rem;
  margin: 0 auto;
  padding: 0.4rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #fafafa;
  border: dotted 1px #fafafa;
  border-radius: 0.4rem;

  @include tab {
    font-size: 2.4rem;
  }
}

.status_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 30rem;
  width: 100%;
  margin: 0.4rem auto 0 auto;
  color: #fafafa;

  @include tab {
    max-width: 40rem;
  }
}

.avatar_area {
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    margin-top: 0.8rem;
    text-align: center;
    @include tab {
      font-size: 2rem;
    }
  }
}

.avatar_img {
  width: 8rem !important;
  height: 8rem !important;
  background-color: #fafafa;
}

.text_area {
  max-width: 16rem;
  & .text_item {
    margin-top: 1.6rem;
    font-size: 2rem;
    text-align: center;

    @include tab {
      text-align: left;
    }

    & .sub_title {
      font-size: 1.4rem;
      margin-top: 2.4rem;
      @include tab {
        font-size: 1.8rem;
        margin-top: 3.2rem;
      }
    }
    & p {
      font-family: "Sawarabi Gothic", sans-serif;
      color: #94f0f3;
      @include tab {
        margin-top: 0.8rem;
        font-size: 2.4rem;
      }
    }

    & .price {
      font-family: "Press Start 2P", cursive;
      font-size: 1.8rem;
      @include tab {
        font-size: 2rem;
      }
    }
  }
}

.menu_section {
  margin-top: 2.4rem;

  @include tab {
    margin-top: 4rem;
  }
}

.menu_title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #10262c;

  &::before {
    position: relative;
    top: 8px;
    right: 16px;
    content: "";
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/ico_notepc1b_8.gif) no-repeat;
    background-size: contain;
  }
  &::after {
    @extend .menu_title::before;
    right: 0;
    left: 16px;
  }

  @include tab {
    font-size: 2.4rem;
  }
}

.link_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.6rem auto 0 auto;
  max-width: 48rem;
  @include tab {
    max-width: 72rem;
  }

  & a {
    display: flex;
    align-items: center;
    width: 45%;
    height: 10rem;
    background-color: #10262c;
    margin: 0.8rem 0.8rem 0 0;
    text-align: center;
    border-radius: 8px;
    color: #fafafa;
    transition: all 0.3s;
    position: relative;
    & span {
      flex: 1;
    }
    &:hover {
      background-color: #198eb9;
      transition: all 0.3s;
    }

    @include tab {
      font-size: 2rem;
      margin: 0.8rem;
      height: 12rem;
    }
  }
}
