@import "./breakpoint";

.news {
  padding: 10rem 0 8rem 0;
}

.news_list {
  @include tab {
    max-width: 96rem;
    display: flex;
    flex-wrap: wrap;
    margin: 1.6rem auto 0 auto;
  }
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: #198eb9;
  @include tab {
    font-size: 2.4rem;
  }
}

.news_card {
  max-width: 30rem;
  margin: 1.6rem auto 0 auto;
  background-color: #1d3443;
  color: #fafafa;
  border-radius: 0.8rem;
  box-shadow: 0 0 8px #aaa;
}

.news_img {
  display: block;
  width: 30rem;
  margin: 0 auto;
  border-radius: 0.8rem 0.8rem 0 0;
  @include tab {
    height: 18rem;
  }
}

.news_title {
  display: block;
  font-size: 1.4rem;
  margin-top: 0.8rem;
  padding: 1.6rem;
}
