.register {
  padding: 4rem 0.8rem;
  background-color: #edeeef;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: #047e3f;
}

.register_form {
  text-align: center;
  margin-top: 3.2rem;
}

.add_icon_loaded {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  line-height: 8rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: solid 2px #333;
  background-color: #eafaea;

  &:hover {
    background-color: #d8fcd8;
  }
}

.add_icon {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  line-height: 8rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: solid 2px #047e3f;
  background-color: #eafaea;

  &:hover {
    background-color: #d8fcd8;
  }
}

.icon {
  display: none;
}

.text_input {
  border-radius: 8px;
  background-color: #fafafa;
  max-width: 30rem;
  width: 100%;
  text-align: left;
  padding: 0.8rem;
  margin-top: 3.2rem;
}

.submit_button {
  font-size: 1.8rem;
  padding: 1.6rem;
  background-color: #047e3f;
  border-radius: 8px;
  margin-top: 3.2rem;
  color: #fafafa;

  &:hover {
    background-color: #01a751;
  }
}
