@import "./breakpoint";

.search_section {
  max-width: 96rem;
  padding: 1.6rem 0;
  margin: 1.6rem auto 0 auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.search_form {
  max-width: 30rem;
  width: 100%;
  margin: 0.8rem auto 0 auto;
  @include pc {
    max-width: 64rem;
  }
}

.title {
  margin-top: 0.8rem;
  font-weight: bold;
}

.sub_title {
  font-size: 1.4rem;
}

.select_box {
  border-radius: 8px;
  padding: 0.8rem;
  background-color: #fafafa;
  margin-top: 0.8rem;
  max-width: 30rem;
  width: 100%;
}

.text_input {
  border-radius: 8px;
  background-color: #fafafa;
  max-width: 30rem;
  width: 100%;
  text-align: left;
  padding: 0.8rem;
  margin-top: 0.8rem;

  @include pc {
    display: inline;
    margin-left: 2.4rem;
  }
}

.submit_button {
  display: block;
  width: 16rem;
  text-align: center;
  padding: 0.8rem;
  background-color: #10262c;
  border-radius: 8px;
  color: #fafafa;
  margin: 1.6rem auto 0 auto;

  &:hover {
    background-color: #19a0b9;
  }
}

.submit_button_false {
  @extend .submit_button;

  background-color: #aaa;
  &:hover {
    background-color: #aaa;
  }
}
